/* home.css */
.Home{
        display: grid;
        grid-template-columns: 30% 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100vw;
        height: 100vh;
}
/* 
.MapContainer {
    grid-row: 1;
    grid-column: 2;
    display: flex;
} */