/* .MapContainer {
    grid-row: 2;
    grid-column: 3;
  } */
  
  .markers{
    color: rgb(27, 78, 44);
    transition: width 2s, height 2s;
  }
  .markers:nth-child(odd){
    color:rgb(245, 229, 10);
  }
  .markers span{
    font-weight: bolder;
  }
  .markers:hover{
    width: 100px;
    height: 100px;
  }
  
  img {
    width: 30px;
    height: 30px
  }