.SmallCard {
    flex-shrink: 0;    
  }

  .SmallCard-primary {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
  }

  .SmallCard-primary-details {
    display: flex;
    flex-grow: 1;
    padding-top: .5rem;
    font-style: italic;
    justify-content: center;
  }